body{
  background: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg");
  background-repeat: repeat;
}

div {
  background: red;
  border-color: blue;
  border-width: 10px;
  border-style: double;
}

p{
  color: yellow;
}

span {
  background: red;
  color: black;
}
